<!doctype html>

<html>
<head>
	<title>Markit</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/quagga.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="title">
			<a href="/index">
			<img class="logo" src="images/MarkitTextLogoWhite.png">
			</a>
		</div>
		<form id="searchCode" role="form" method="get" action="/scan">

		<div class="form-group">
			<input type="text" id="txtSearch" class="form-control" placeholder="Enter Barcode Here..." name="txtSearch"/>
		</div>

		<input type="submit" id="submitBtn" class="btn" value="Search"></input>

		<div class="input-group-btn">
			<button class="" id="scan_btn" type="button" data-toggle="modal" data-target="#livestream_scanner">use the button to scan</button>
		</div>

		<div class="modal" id="livestream_scanner">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">Barcode Scanner</h4>
					</div>
					<div class="modal-body" style="position: static">
						<div id="interactive" class="viewport"></div>
						<div class="error"></div>
					</div>
					<div class="modal-footer">
						<label class="btn btn-default pull-left">
							<i class="fa fa-camera"></i> Use camera app
							<input type="file" accept="image/*;capture=camera" capture="camera" class="hidden" />
						</label>
						<button type="button" class="btn btn-primary" data-dismiss="modal" id="closeCamera">Close</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div>



		</form>

		{{#if scanFound}}
			{{#each scanRes}}
			<div class="name" id="{{barcode}}">
			<img id="search_img"src="{{imageURL}}" class="img-responsive">
			<div id="search_result">
				<div class="searchs">
					{{name}}
				</div>
				<div class="searchs">
					<img id="reviewimgs" src="{{revImage}}">
				</div>
				<div class="searchs" id="reviews">
					{{numRev}} Reviews
					
				</div>
			</div>

			<div class="{{barcode}}" id="details">
				<h1>Reviews:</h1>
				{{#each review}}
					<h3>{{title}}</h3>
					<p>{{review}}</p>
					<br>
				{{/each}}
			</div>
			<br><br>
		</div>
		<!--
				<div class="name" >
					<img src="{{imageURL}}" class="img-responsive">
					<h3>{{name}}</h3>
					<h1>rating: {{rating}}</h1>
					{{#each review}}
						<h1>{{title}}</h1>
						<p>{{review}}</p>
					{{/each}}
				</div>-->
			{{/each}}
		{{else}}
			{{#if scanInit}}
				<p>Product not found.</p>
			{{/if}}
		{{/if}}

		<div id="extra_space"></div>

		<div class="container">
			<nav id="navbar">
				<ul>
					<li><a href="/index">Home</a></li>
					<li><a href="/scan">Scan</a></li>
					<li><a href="/search">Search</a></li>
					<li><a href="/about">About</a></li>
				</ul>
			</nav>
		</div>

		<script src="js/barcode.js"></script>
		<script src="js/animation.js"></script>
	</div>
</body>
</html>
