<!doctype html>

<html>
<head>
	<title>Markit</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container">
		<div class="title">
			<a href="/index">
			<img class="logo" src="images/MarkitTextLogoWhite.png">
			</a>
		</div>

		<div id="brs">
			<br>
			<br>
			<br>
		</div>

		<form id="searchProduct" role="form" method="get" action="/search">
			Enter product name, categories, or keywords<br>
	    	<div class="form-group">
	      	<input type="text" class="form-control" id="InputField" placeholder="Search..." name="txtSearch">
	    	</div>
	    	<input type="submit" id="submitBtn" class="btn" value="Search"></input>
		</form>
	</div>

	<br>

	<div class="container">
	{{#if searchFound}}
		{{#each res}}
		<div class="name" id="{{barcode}}">
			<img id="search_img"src="{{imageURL}}" class="img-responsive">
			<div id="search_result">
				<div class="searchs">
					{{name}}
				</div>
				<div class="searchs">
					<img id="reviewimgs" src="{{revImage}}">
				</div>
				<div class="searchs" id="reviews">
					{{numRev}} Reviews
					
				</div>
			</div>

			<div class="{{barcode}}" id="details">
				<h1>Reviews:</h1>
				{{#each review}}
					<h3>{{title}}</h3>
					<p>{{review}}</p>
					<br>
				{{/each}}
			</div>
			<br><br>
		</div>
		{{/each}}
	{{else}}
		{{#if searchInit}}
			<p>{{searchWord}} not found.</p>
		{{/if}}
	{{/if}}
	</div>

	<div id="extra_space"></div>

	<div class="container">
		<nav id="navbar">
			<ul>
				<li><a href="/index">Home</a></li>
				<li><a href="/scan">Scan</a></li>
				<li><a href="/search">Search</a></li>
				<!--<li><a href="/about">About</a></li>-->
			</ul>
		</nav>
	</div>


	<div class="search-results"></div>

	<script src="js/bootstrap.js"></script>
	<script src="js/result.js"></script>
	<script src="js/animation.js"></script>

</body>
</html>
